
//color
$primary : #017F69;
$gray500 : #222;
$gray400 : #888;
$gray300 : #ababab;
$gray200 : #c9c9c9;
$gray100 : #dcdee0;
$background: #ededed;
$white: #fff;
$kakao : #ffeb00;
$naver : #2db400;
$warning: #E20000;
$gradation:linear-gradient(92.75deg, #00AB50 22.61%, #006B89 78.36%);


//width
$basic : calc(100% - 40px);