@import "../main";

.sector-loading {
  height: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  .loading {
    &-area {
      box-sizing: border-box;
      margin-bottom: 60px;
    }
    &-title {
      text-align: center;
      @include fontStyle(18px, 25.2px, 800, $gray500);
    }
  }
}
