@import "../main";


.sector-terms {
  height: calc((var(--vh, 1vh) * 100 ) - 91px) !important;
  overflow-y: scroll;
  p {
    @include fontStyle(14px, 19.6px, 400, $gray500);
    margin-bottom: 20px;
  }

}